
header {
        width: 100%;
        font-size: 15px;
        color:#000;
        background-color: #FFF;

        
        
    }
/*----------Boton activado */

/*----------------------------CARRUSEL----------------------- */

.article-body {
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	padding: 15px 5%;
    z-index:20;
    color:#FFF;
    color: #DDD;
}

 .article-info {
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:22;
}

 .article-info {
	margin-bottom:15px;
}

 .article-info li {
	display:inline-block;
	margin-right:-2px;
}

 .article-info .article-category > a {
	display:block;
	padding: 0px 15px;
	height: 30px;
	line-height: 30px;
	background: linear-gradient(130deg,#ff9259 0,#ff2426 70%);
    color: #fff;
    border-radius: 8px;
	text-transform: uppercase;
    font-size: 11px;
    font-family: Helvetica,Arial,sans-serif;
}

.article-info .article-category > a:hover {
	opacity:0.8;
}


.article-title {
	text-transform: uppercase;
	margin-top:0px;
	margin-bottom:50px;
	font-weight:700;
}




.article.thumb-article {
	margin-bottom:0px;
}

.article.thumb-article .article-img {
	margin-bottom:0px;
}

.article.thumb-article .article-img:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background: -webkit-gradient(linear, left bottom, left top, from(#222), to(transparent));
	background: linear-gradient(to top, #222 0%, transparent 100%);
	opacity:0.5;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.article.thumb-article:hover .article-img:after {
	opacity:1;
}

.article.thumb-article .article-body {
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	padding: 15px 5%;
	z-index:20;
}

.article.thumb-article .article-body .article-title > a {
	color:#FFF;
}

.article.thumb-article .article-body .article-title > a:hover {
	color: #DDD;
}


/*------------------------------------*\
	Owl Center nav
\*------------------------------------*/
.owl-theme.center-owl-nav .owl-nav [class*='owl-'] {
    position: absolute;
    top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	border: #000;
    background: #000;
    color: #FFF;
  	padding: 0px;
  	width: 40px;
  	height: 55px;
  	line-height: 55px;
	border-radius:10;
  	margin: 0;
}

.owl-theme.center-owl-nav .owl-prev {
    left: 0px;
}

.owl-theme.center-owl-nav .owl-next {
    right: 0px;
}

.owl-theme.center-owl-nav .owl-nav [class*='owl-']:hover {
    opacity: 0.6;
    background: #000;
}





.imgRedonda {
    width:34px;
    height:34px;
    border-radius:17px;
}






.btn-red{
    background-color: rgb(116, 6, 6);
    color: white;
    font-size: 18px;
    width: 60%;
}

.btn-red:hover{
    background-color: rgb(80, 12, 12);
    color: lightgray;
    font-size: 18px;
    width: 60%;
}

.btn-dark-green{
    background-color: rgb(48, 136, 48);
    color: white;
    font-size: 18px;
    width: 60%;
}

.btn-dark-green:hover{
    background-color: rgb(42, 112, 42);
    color: lightgray;
    font-size: 18px;
    width: 60%;
}

.link-title{
    font-size: x-large;
    color: rgb(51, 51, 143);
    font-weight: bold;
    margin-bottom: 0;
}

#floating-panel {
    position: absolute; 
    bottom: 0px;
    margin: 20px;
}







.botones {
    width: 100%;
    text-align: center;
  }
  
  #separar {
    padding: 3%;
    display: inline-block;
  }
  
  
  .boton5 {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    position: relative;
    border: 2px solid #318aac;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .boton5:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
  }
  



 